:root {
  --basic-white: #FFFFFF;
  --rgba-white: rgba(255,255,255,0.3);
  --rgba-white-footer: rgba(255,255,255,0.9);
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-blue: #81B3D2;
  --basic-grey: #EEEEEE;
  --basic-brown: #766357;
  
  --border-grey: #E5E5E5;
  --rating-grey: #F2F2F2;
  --rating-color: #666666;
  
  --svg-grey: #CACACA;
  --svg-form-grey: #A9A9A9;
  
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --background-form: #F2F2F2;
  --hover-background-form: #EBEBEB;
}


body {
  background-color: var(--rating-grey);
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-light-black);
}


/*Прятки*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}


.wrapper{
  background-color: var(--basic-white);
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}


a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

/*Шапка*/


.nav{
  display: flex;
  width: 1200px;
  background-color: var(--basic-white);
  min-height: 56px;
  position: relative;
  justify-content: space-between;
}


.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.menu-1{
  box-sizing: border-box;
  width: 465px;
  justify-content: space-around;
  align-self: center;
}


.menu-2{
  box-sizing: border-box;
  width: 445px;
  justify-content: space-around;
  align-self: center;
}



.menu-link a{
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
  display: block;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.menu-link a:hover,
.menu-link a:focus{
  color: var(--basic-blue);
}


.menu-link a:active{
  opacity: 0.3;
  color: var(--basic-brown);
}                                       


.active a{
  color: var(--basic-brown);
}


.menu-icon img{
  display: block;
}


.menu-icon{
 position: absolute;
 left: 530px;
 top: 0;
 z-index: 1;
}


/*Подвал*/


.footer{
  background-color: var(--rgba-white-footer);
  width: 1200px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.phone-number{
  text-align: center;
  width: 251px;
  min-height: 61px;
}


.footer-link{
  min-height: 48px;
  display: grid;
  align-self: center;
  grid-template-columns: 46px 46px 46px;
  column-gap: 6px;
  margin-right: 45px;
  
}


.footer-developer{
  min-height: 41px;
  display: grid;
  align-self: center;
  grid-template-columns: 74px 115px;
  column-gap: 8px;
}


.footer a{
  display: block;
}


/*ниже-main*/


.block-slang {
  background-color: var(--basic-blue);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 509px;
  position: relative;
}


.mask img{
  display: block;
}


.mask{ 
  height: 57px;
  position: absolute;
  bottom: 0;
}


.welcome img{
  display: block;
}


.welcome{
  align-self: center;
  width: 457px;
  margin-top: 78px;
}


.block-sedona{
  background-color: var(--basic-white);
  text-align: center;
  line-height: 26px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1200px;
  min-height: 216px;
  justify-content: center;
}


.block-sedona div{
  align-self: center;
  width: 470px;
  min-height: 80px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}


.block-reasons-list-1{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}


.image-1 img{
  display: block;
}


.image-2 img{
  display: block;
}


.block-reasons-list-2{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}


.block-reasons-list-2 h3{
  font-size: 21px;
  color: var(--basic-black);
}


.li-grid-1{
  display: grid;
  grid-template-columns: 400px 800px;
}


.description-1{
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.text-field{
  height: 155px;
  padding-left: 20px;
  padding-right: 20px;
}


.text-field p{
  margin: 25px;
}


.description-1 h3{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 21px;
  margin: 0;
}


.block-reasons-list-2{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto auto;
}


.block-reasons-list-2 h3{
  padding-left: 70px;
  padding-right: 70px;
}


.li-grid-2 {
  display: grid;
  grid-template-columns: 800px 400px;
}


.conditions-list-2{
  grid-row: 2 / 3;
  min-height: 256px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}


.conditions-list-2 div{
  width: 250px;
  align-self: center;
  min-height: 155px;
}


.conditions-list-2 h3{
  margin: 0;
}


.conditions-list-2 p{
  margin-bottom: 15px;
  margin-top: 25px;
}


.conditions-list-2 .road{
  width: 265px;
}


.description-2{
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.description-2 h3{
  color: var(--basic-white);
  margin: 0;
}


.text-field-2{
  height: 155px;
  padding-left: 20px;
  padding-right: 20px;
}


.text-field-2 p{
  margin: 23px;
}


.block-reasons-list-2 li:not(.block-reasons-item){
  background-color: var(--basic-grey);
}


.conditions-1{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 1200px;
  background-color: var(--basic-white);
  text-align: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
}


.conditions-list-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 320px;
  margin-bottom: 10px;
}


.house{
  width: 254px;
  align-self: center;
}


.food{
  width: 297px;
  align-self: center;
}


.present{
  width: 280px;
  align-self: center;
}


.conditions-1 h3{
  margin: 23px;
  font-size: 21px;
  color: var(--basic-black);
}


.hotel-search{
  width: 1200px;
  background-color: var(--basic-white);
  text-align: center;
  line-height: 24px;
  position: relative;
}


.search-block{
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.search-block div{
  width: 435px;
  min-height: 137px;
  align-self: center;
}


.search-block p{
  margin: 0px; 
}



.hotel-search button{
  padding: 0;
  cursor: pointer;
}


.hotel-search h2{
  font-size: 30px;
  line-height: 26px;
  color: var(--basic-black);
}


.form-search{
  position: absolute;
  left: 315px;
  width: 568px;
  min-height: 395px;
  background-color: var(--basic-white);
  font-weight: bold;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  display: flex;
  justify-content: center;
  z-index: 1;
}


.form-search a{
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 54px;
  margin-bottom: 55px;
} 


.form-search label{
  cursor: pointer;
}


.form-search input{
  box-sizing: border-box;
  border: none;
  background-color: var(--rating-grey);
}


.form-search input:hover{
  background-color: var(--hover-background-form);
}



.form-search input:focus{
  background-color: var(--basic-white);
  border: 2px solid var(--border-grey);
}


.form-search form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 458px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.date input{
  width: 346px;
  height: 38px;
  padding-left: 18px;
  margin-top: 53px;
  cursor: pointer;
}


.date button{
  padding: 0;
  position: absolute;
  top: 62px;
  left: 480px;
  border: none;
  background: none;
  width: 21px;
  height: 23px;
}


.departure button{
  position: absolute;
  top: 129px;
  left: 480px;
}


.departure input{
  margin-top: 29px;
  margin-left: 16px;
}


.arrival-date input{
  margin-left: 20px;
}


.people input{
  width: 114px;
  height: 38px;
  margin-top: 28px;
  cursor: pointer;
  text-align: center;
}


.kids input{
  margin-left: 20px;
}


.adults input{
  margin-left: 37px;
}


.form-search button{
  border: none;
  background: none;
  padding: 0;
}


.plus-1{
  position: absolute;
  left: 202px;
  top: 200px;
}


.plus-2{
  position: absolute;
  left: 435px;
  top: 200px;
}


.minus-1{
  position: absolute;
  left: 125px;
  top: 195px;
}


.minus-2{
  position: absolute;
  left: 360px;
  top: 195px;
}


.calendar-1{
  position: absolute;
  top: 61px;
  left: 429px;
}


.calendar-2{
  position: absolute;
  top: 128px;
  left: 429px;
}


.plus-minus path:hover,
.plus-minus rect:hover{
  fill: var(--basic-black);
}


.plus-minus path:active,
.plus-minus rect:active{
  fill: var(--basic-blue);
}


.calendar svg{
  fill: var(--svg-form-grey);
}


.calendar svg:hover{
  fill: var(--basic-black);
}


.calendar svg:active{
  fill: var(--basic-blue);
}


/*ниже main hotels.html*/

.info-form{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
  min-height: 217px;
  box-sizing: border-box;
}


.check{
  cursor: pointer;
}


form{
  display: flex;
  width: 1200px;
}


.info-field{
  margin: 0;
  margin-top: 26px;
  border: none;
  padding: 0;
}


.info-field li{
  margin-top: 24px;
}


.infrastructure{
  width: 135px;
  margin-left: 72px;
}


.housing{
  width: 137px;
  margin-left: 119px;
}


.price{
  width: 317px;
  margin-left: auto;
  margin-right: 73px;
}


.form-filter{
  width: 315px;
  height: 34px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  display: flex;
  justify-items: center;
  justify-content: center;
}


.max{
  box-sizing: border-box;
  padding-left: 55px;
}


.min{
  box-sizing: border-box;
  padding-left: 65px;
}


.form-filter li{
  margin: 0;
  width: 155px;
  display: flex;
  align-self: center;
}



.form-filter .vertical{
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}



.form-filter input{
  color: var(--basic-white);
  border: none;
  background: none;
  width: 65px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  padding-left: 5px;
}


.price legend{
  margin-bottom: 10px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.range{
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
}


.range-controls{
  height: 29px;
  padding-top: 20px;
  padding-left: 9px;
  position: relative;
}


.slider-1{
  width: auto;
  height: 2px;
  background-color: var(--rgba-white);
}


.range-controls .slider-2{
  width: 256px;
  height: 2px;
  background-color: var(--basic-white);
}


.hit-min{
  position: absolute;
  top: 11px;
  left: 4px;
}


.hit-max{
  position: absolute;
  top: 11px;
  left: 255px;
}


.hit svg:hover{
  width: 23px;
  height: 24px;
}


.price-button{
  cursor: pointer;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background: none;
  color: var(--basic-white);
  width: 135px;
  height: 34px;
  text-transform: inherit;
  padding: 0;
  margin-top: 8px;
  margin-left: 90px;
} 


.price-button:hover,
.price-button:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}


.info-field legend{
  font-size: 16px;
  font-weight: bold;
}


.info-field ul{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}


.list-search{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--border-grey);
}


.list-search p:first-child{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-left: 73px;
}


.list-search p{
  font-size: 12px;
  line-height: 18px;
  align-self: center;
  margin-left: 40px;
}


.sorting{
  list-style-type: none;
  margin: 0;
  margin-left: 40px;
  padding-left: 0;
  display: flex;
  width: 239px;
  height: 86px;
  justify-content: space-between;
}


.hotels-sorting{
  align-self: center;
}


.list-buttons{
  align-self: center;
  margin-left: auto;
  margin-right: 73px;
}


.list-buttons button{
  border: none;
  background: none;
  cursor: pointer;
}


.list-buttons path{
  fill: var(--svg-grey);
}


.list-buttons path:hover{
  fill: var(--basic-black);
}


.list-buttons path:active{
  fill: var(--basic-blue);
}


.hotels-sorting a{
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue);
}


.hotels-sorting a:hover,
.hotels-sorting a:focus{
  color: var(--basic-blue);
  opacity: 1;
}


.hotels-sorting a:active{
  color: var(--basic-black);
  opacity: 1;
  border: none;
}


.active-sorting a{
  color: var(--basic-blue);
  opacity: 1;
  border: none;
}


.hotels{
  width: 1200px;
  background-color: var(--basic-white);
}


.hotels-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.hotels-list span{
  width: 110px;
  height: 21px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}


.list-1{
  width: 1200px;
  min-height: 150px;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--border-grey);
}


.amara-image{
  margin-left: 73px;
}


.amara-table{
  margin-left: 29px;
  margin-bottom: 23px;
}


h3 a{
  font-size: 21px;
  display: block;
  width: 240px;
}


.amara-rating{
  min-height: 91px;
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  -webkit-align-items: end;
  margin-left: auto;
  margin-right: 71px;
}


.list-2{
  width: 1200px;
  min-height: 150px;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--border-grey);
}


.desert-image{
  margin-left: 73px;
}


.desert-table{
  margin-left: 29px;
  margin-bottom: 23px;
}


.desert-rating{
  min-height: 92px;
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  -webkit-align-items: end;
  margin-left: auto;
  margin-right: 71px;
}


.list-3{
  width: 1200px;
  min-height: 150px;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--border-grey);
}


.villas-image{
  margin-left: 73px;
}


.villas-table{
  margin-left: 29px;
  margin-bottom: 23px;
}


.villas-rating{
  min-height: 92px;
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  -webkit- align-items: end;
  margin-left: auto;
  margin-right: 71px;
}


.rating{
  background-color: var(--rating-grey);
  color: var(--rating-color);
}


/*ниже-кнопки и ссылки*/


.button {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  text-transform: inherit;
  font-family:"PT Sans", sans-serif;
  font-weight: bold;
  line-height: 26px;
  border: none;
  padding: 0;
  width: 568px;
  height: 87px;
}


.button:hover,
.button:focus{
  background-color: var(--hover-brown);
}


.button:active{
  background-color: var(--active-brown);
  color: var(--rgba-white);
}


.reservation{
  font-size: 14px;
  cursor: pointer;
  width: 140px;
  height: 27px;
  border: none;
}


.button-link {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-size: 21px;
  text-transform: inherit;
  line-height: 27px;
  font-family:"PT Sans", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
}


.button-link:hover,
.button-link:focus{
  background-color: var(--hover-blue);
}


.button-link:active{
  background-color: var(--active-blue);
  color: var(--rgba-white);
}


.details{
  font-size: 14px;
  line-height: 21px;
  width: 110px;
  padding: 3px 0;
  height: 21px;
}


.phone-number{
  color: var(--basic-black);
  font-size: 21px;
  font-weight: bold;
}

.phone-number a{
  color: var(--basic-black);
}


.status-link{
  color: var(--basic-black);
}


.status-link:hover,
.status-link:focus{
  color: var(--basic-blue);
}


.status-link:active{
  color: var(--basic-black);
  opacity: 0.3;
}


svg:hover rect{
  fill: var(--hover-blue);
}


svg:active rect{
  fill: var(--active-blue);
}


svg:active path{
  opacity: 0.3;
}


.logo-html{
  width: 115px;
  height: 46px;
  fill: var(--basic-black);
}


.logo-html:hover path{
  fill: var(--basic-blue);
}


.logo-html:active path{
  opacity: 0.3;
}